*:not(i):not(code):not(pre) {
  font-family: Comic Sans MS !important;
}
.card-body{
  background-color: #f5f5f5;
}
.container{
  background-color: white;
}
.fa{
  color: black;
}
.footer {
   width: 100%;
   text-align: center;
   background-color: #f5f5f5;
}
.main-aquamarine {
  background-color: aquamarine;
}
.main-black {
  background-color: black;
}
.main-blueviolet {
  background-color: blueviolet;
}
.main-cadetblue {
  background-color: cadetblue;
}
.main-coral {
  background-color: coral;
}
.main-currentColor {
  background-color: currentColor;
}
.main-darkCyan {
  background-color: darkCyan;
}
.main-dimgray {
  background-color: dimgray;
}
.main-darkslategray {
  background-color: darkslategray;
}
.main-lightblue {
  background-color: lightblue;
}
.navbar{
  background-color: #2f1f49;
}
.social{
  font-size:32px;
}
