<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{site.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include header.html %}
    <main role="main">
      <div class="container shadow rounded mt-5 p-5 mb-5">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
